{% extends 'base.html'}
<html>
    {% block content %}

<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    {% load static %}

    <link href = "{%static 'css/new.css' %}" rel = "stylesheet" type="text/css"/>

    </head>
    <div class = "submit">

    <form action = "{% url 'update' post.id %}" method = "post" enctype = "multipart/form-data">
    {%csrf_token%}
    <p> photo : <input type = "file" name = "image" value = "{{post.image}}"></p>
    <button type = "submit">Posting ! </button>
    </form>
    </div>
</head>
{%endblock%}